* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

button,
.button,
input[type=submit] {
  display: inline-block;
  cursor: pointer;
  font-weight: 700;
  border-radius: 12px;
}

.button--primary {
  background-color: #6A983C;
  color: white;
  border: 2px solid #446126;
}
.button--transparent {
  background-color: transparent;
  color: #151515;
  border-width: 2px;
  border: 2px solid #6A983C;
}
.button--default {
  padding: 16px 48px;
}
.button--sm {
  padding: 12px 16px;
}
.button--xs {
  padding: 7px 12px;
}

body {
  height: 100%;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.55;
  background-color: white;
}

.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}

.flex-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid #D2D2D2;
}
.header__top-left {
  width: 30%;
}
.header__top-right {
  width: 15%;
}
.header__top-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
.header__top-link {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 12px;
  color: #6A983C;
}
.header__top-link:hover {
  text-decoration: underline;
}
.header__top-phone, .header__top-email {
  color: #151515;
}
.header__logo {
  font-family: "Pacifico", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  color: #151515;
}
.header__middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0;
}
.header__actions {
  width: 88px;
  display: flex;
  justify-content: space-between;
}
.header__actions-button {
  background-color: transparent;
  border: none;
  position: relative;
}
.header__actions-source {
  width: 24px;
  height: 24px;
}
.header .cart-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E5704B;
  border-radius: 50%;
  color: white;
  font-weight: 600;
  width: 18px;
  height: 18px;
  position: absolute;
  left: -8px;
  bottom: -8px;
}
.header__search {
  display: flex;
  align-items: center;
  width: 500px;
  height: 42px;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
  padding-left: 16px;
  padding-right: 13px;
}
.header__search .product-item {
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  color: #151515;
  width: 130px;
  height: 23px;
}
.header__search .product-item .search-arrow-down {
  float: right;
}
.header__search .product-item img {
  vertical-align: middle;
}
.header__search-buffler {
  display: block;
  height: 20px;
  width: 2px;
  background-color: #D1D1D1;
  margin: 0 24px;
}
.header__search .search-wrap {
  width: 330px;
  position: relative;
}
.header__search .search-wrap .input__search {
  width: 262px;
  height: 23px;
  font-size: 14px;
}
.header__search .search-wrap .input__search::-moz-placeholder {
  color: #A9A9A9;
}
.header__search .search-wrap .input__search:-ms-input-placeholder {
  color: #A9A9A9;
}
.header__search .search-wrap .input__search::placeholder {
  color: #A9A9A9;
}
.header__search .search-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.header__search .search-icon__source {
  vertical-align: middle;
  width: 16px;
  height: 16px;
}
.header__bottom {
  background-color: #F9F9F9;
}
.header__wrapper {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
}
.header__wrapper .category-list {
  margin-right: 40px;
}
.header__wrapper .category-list:last-child {
  margin-right: 0;
}
.header__wrapper .category-link {
  display: flex;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}
.header__wrapper .category-link:last-child {
  margin-right: 0;
}
.header__wrapper .category-link span {
  margin-left: 5px;
}
.header__wrapper .category-sublist {
  display: none;
}

.aside-nav {
  margin-bottom: 130px;
}
.aside-nav:last-child {
  margin-bottom: 0;
}
.aside__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
  display: inline-block;
  margin-bottom: 15px;
}
.aside__menu {
  margin-bottom: 45px;
}
.aside__item {
  margin-bottom: 8px;
}
.aside__item:last-child {
  margin-bottom: 0;
}
.aside__link {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #6A983C;
  text-decoration: underline;
}
.aside__button {
  padding: 12px 16px;
  border-radius: 12px;
  background-color: #F5F5F5;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}
.aside__button span {
  margin-left: 12px;
}

.main__content {
  flex: 1 1 auto;
}
.main__container {
  display: grid;
  grid-template-columns: 270px 1fr;
  gap: 0 30px;
  padding-top: 65px;
}

.banner {
  width: 420px;
  height: 280px;
  margin-right: 30px;
  background-color: #f1f7eb;
  background-image: url("../img/banner-texture.svg");
  padding-top: 48px;
  padding-bottom: 32px;
  padding-left: 33px;
  padding-right: 33px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
}
.banner:last-child {
  margin-right: 0;
}
.banner-wrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 138px;
}
.banner__subtitle {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
}
.banner__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #151515;
  flex-grow: 1;
}
.banner__button {
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
}
.banner__button span {
  margin-left: 12px;
}

.product {
  margin-bottom: 64px;
}
.product__card {
  border: 1px solid #D1D1D1;
  border-radius: 12px;
  padding: 16px;
}
.product__list--grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 97px 32px;
}

.card {
  color: #151515;
}
.card__image {
  height: 180px;
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 16px;
  position: relative;
}
.card__image img {
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.card__image .sale {
  font-weight: 600;
  line-height: 18px;
  font-size: 12px;
  color: #6A983C;
  position: absolute;
  content: "";
  top: 12px;
  left: 20px;
  padding: 0 8px;
  background: #F4F8EC;
  border-radius: 12px;
}
.card__title {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 4px;
}
.card__desc {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 16px;
  color: #575757;
}
.card__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__price-wrap {
  display: flex;
  flex-direction: column;
}
.card__subprice {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #A9A9A9;
}

.customers {
  padding-top: 64px;
  padding-bottom: 64px;
  grid-column: 1/3;
}
.customers__wrapper {
  display: flex;
  justify-content: space-between;
}
.customers__card {
  background-color: #fff;
  width: 285px;
  border: 1px solid #F1F1F1;
  border-radius: 12px;
  padding: 24px 32px;
}
.customers__comment {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #151515;
  margin-bottom: 24px;
}
.customers__name {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #A9A9A9;
  margin-bottom: 16px;
}
.customers__image {
  display: flex;
  justify-content: center;
}

.section-title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.section-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
}

.section-button {
  border: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}
.section-button span {
  margin-left: 12px;
}

.product-cards {
  padding-top: 64px;
  padding-bottom: 64px;
  grid-column: 1/3;
}
.product-cards-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.blog {
  padding-top: 64px;
  padding-bottom: 64px;
  grid-column: 1/3;
}
.blog__inner {
  display: grid;
  grid-template-columns: 469px 269px 369px;
  gap: 31.5px;
}
.blog__main-card {
  display: flex;
  align-items: flex-end;
  min-height: 400px;
  background-image: url("../img/blog-image.jpg");
  position: relative;
  padding: 24px;
  color: #FFFFFF;
}
.blog__card-desc {
  font-weight: 600;
  line-height: 18px;
  font-size: 12px;
  color: #6A983C;
  position: absolute;
  content: "";
  top: 24px;
  left: 24px;
  padding: 0 8px;
  background: #F4F8EC;
  border-radius: 12px;
}
.blog__main-card-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 8px;
}
.blog__author-info {
  display: flex;
  align-items: center;
}
.blog__author-photo {
  border-radius: 50%;
  overflow: hidden;
  margin-right: 8px;
}
.blog__author-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-right: 16px;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.blog__date {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.second-card__image {
  margin-bottom: 24px;
}
.second-card__category {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
  margin-bottom: 8px;
}
.second-card__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
  margin-bottom: 16px;
}

.author-info {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #151515;
}

.author-name {
  margin-right: 16px;
}

.shorts__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}
.shorts__item:last-child {
  margin-bottom: 0;
}
.shorts__item-inner {
  width: 249px;
  padding-right: 24px;
}
.shorts__link {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}

.footer {
  padding-top: 64px;
  padding-bottom: 64px;
  grid-column: 1/3;
}
.footer__info {
  display: flex;
  justify-content: space-between;
}
.footer__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
  margin-bottom: 16px;
}
.footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #6A983C;
}
.footer__product-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;
}
.footer__product-item {
  margin-right: 26px;
  padding: 4px 10px;
  border-radius: 12px;
  background-color: #F5F5F5;
  margin-bottom: 16px;
}
.footer__product-item:last-child {
  margin-right: 0;
}
.footer__product-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}

.copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #151515;
}

.breadcrumbs {
  padding: 16px 0;
}
.breadcrumbs p {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
}
.breadcrumbs a {
  margin: 0 20px;
  color: #A9A9A9;
}
.breadcrumbs a:first-child {
  margin-left: 0;
}
.breadcrumbs span {
  color: #151515;
  margin-right: 0;
}