.customers {
  padding-top: 64px;
  padding-bottom: 64px;
  grid-column: 1/3;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__card {
    background-color: #fff;
    width: 285px;
    border: 1px solid #F1F1F1;
    border-radius: 12px;
    padding: 24px 32px;
  }

  &__comment {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: $dark;
    margin-bottom: 24px;
  }

  &__name {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #A9A9A9;
    margin-bottom: 16px;
  }

  &__image {
    display: flex;
    justify-content: center;
  }
}

.section-title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.section-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: $dark;
}

.section-button {
  border: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: $dark;

  & span {
    margin-left: 12px;
  }
}